header{
    height: 500px;
    background-color:white ;
    width: 100%;
    height: 5%;
    position: fixed;
    z-index: 12;
    margin: 0px;
    padding-bottom: 50px;
    background-size: cover;
    margin-left: 0%;
    border-bottom:8px solid ;
    border-color:green;
}
.d1 a{
    display: inline;
    float: right;
    font-size: 25px;
    padding-top: 20px ; 
    padding-right: 70px;
    padding-bottom: 20px ; 
    color: blue;
}
a:hover{
    color:orangered;
}
a:active{
    color:green ;
}
#hed{
    text-align: center;
    font-size: 45px;
    color:dodgerblue;
    margin-bottom: 15px;
}
#po a:visited{
    color: green;
}

h1{
    text-align: center;
}
button{
    font-size: 20px;
    background-color: #0779f3;
    color: #fff;
    border: #0062cc;
    border-radius: 4px;
    padding: 10px;
}
#countOut{
    font-size: 25px;
    padding-left: 30px;
}
.question1,.question2,.question3,.question4,.question5{
    font-size: 22px;
    padding-left: 20px;
    font-weight:900;
}
#answer1,#answer2,#answer3,#answer4,#answer5{
    font-size: 22px;
    padding-left: 20px;
}